<mat-card>
  <mat-card-title>
    {{group.name}}
  </mat-card-title>

  <mat-card-content>
    {{group.description}}
    <form class="example-form">
      <mat-form-field class="">
        <textarea matInput name="message" placeholder="Add a message:" [(ngModel)]="message" required></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="onJoinClick()" mat-button >Join</button>
    <button (click)="onNoClick()" mat-button >Cancel</button>
  </mat-card-actions>

 </mat-card>
