<mat-card *ngFor="let meeting of conversation.meetings">
  <form class="" #profileForm="ngForm">
    <mat-card-title>Meeting Request</mat-card-title>
    <mat-form-field>
        <input matInput type="text" placeholder="Date" name="meeting_date" disabled="true" [value]="meeting.meeting_time">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Location" type="text" name="location" disabled="true" [value]="meeting.location">
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button mat-raised-button id="acceptButton" (click)="acceptMeeting(meeting)">
        Accept
      </button>
      <button mat-raised-button id="declineButton" (click)="declineMeeting(meeting)">
        Decline
      </button>
    </mat-card-actions>
</mat-card>
