
<div id="messengerWrapper">
  <app-responder [conversation]="conversation" [user]="user"></app-responder>
  <div id="chatWrapper">
    <div id="chatContent">
      <div *ngFor="let message of updatedConversation.messages" class="messageWrapper">
        <div *ngIf="message.sender_id == user.id" class="message mine">
          <div class="messageLabel">{{message.sender_name}}</div>
          {{message.content}}
        </div>
        <div *ngIf="message.sender_id != user.id" class="message others">
          <div class="messageLabel">{{message.sender_name}}</div>
          {{message.content}}
        </div>
      </div>
    </div>
    <form id="newMessageWrapper" (ngSubmit)="sendNewMessage()" #profileForm="ngForm">
        New Message:
        <br>
        <input type="text" id="newMessage" name="message_input" [(ngModel)]="newMessage"> <button type="submit" id="sendButton">Send</button>
    </form>
  </div>
  <app-scheduler [conversation]="conversation" [user]="user"></app-scheduler>
</div>
